nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  margin-bottom: 5rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 20px;
  font-family: "fira sans", monospace;
}

#one {
  color: #b36076;
}

#two {
  color: #f4d06f;
}

#three {
  color: #2266bf;
}

#four {
  color: #5da474;
}

h1 {
  font-size: 1.5rem;
}
