nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    margin-bottom: 5rem;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
    font-family: "fira sans", monospace;
}

#one {
    color: #B36076;
}

#two {
    color: #F4D06F;
}

#three {
    color: #2266BF;
}

#four {
    color: #5DA474;
}

h1 {
    font-size: 1.5rem;
}

